name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          command: buildozer android debug
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: Monarch-App
          path: bin/*.apk
          
